.radix-themes {
	--default-font-family: "Times New Roman", Times, serif;
	--heading-font-family: "Times New Roman", Times, serif;
	--code-front-family: "Times New Roman", Times, serif;
	--strong-font-family: "Times New Roman", Times, serif;
	--em-font-family: "Times New Roman", Times, serif;
	--quote-font-family: "Times New Roman", Times, serif;
}
