.radix-themes {
	--default-font-family: "Times New Roman", Times, serif !important;
	--heading-font-family: "Times New Roman", Times, serif !important;
	--code-front-family: "Times New Roman", Times, serif !important;
	--strong-font-family: "Times New Roman", Times, serif !important;
	--em-font-family: "Times New Roman", Times, serif !important;
	--quote-font-family: "Times New Roman", Times, serif !important;
}
